style: github
template: CHANGELOG.tpl.md
info:
  title: CHANGELOG
  repository_url: https://github.com/unitreerobotics/unitree_ros2
options:
  commits:
    filters:
      Type: ["feat", "fix", "perf", "refactor", "chore"]
  commit_groups:
    title_maps:
      feat: Features
      fix: Bug Fixes
      perf: Performance Improvements
      refactor: Code Refactoring
      chore: Examples
  header:
    pattern: "^(\\w*)(?:\\(([\\w\\$\\.\\-\\*\\s]*)\\))?\\:\\s(.*)$"
    pattern_maps:
      - Type
      - Scope
      - Subject
  notes:
    keywords:
      - BREAKING CHANGE
    title: "Breaking Changes"
    pattern: "(?mi)^BREAKING CHANGE:\\s*(.*)"